@model  IEnumerable<User>

<div class="card-deck">
    @foreach (var user in Model)
    {
    <div class="card">
        <img class="card-img" src="~/images/user.png" />
        <div>
            <h3>Name: @user.Name</h3>
            <h3>User Name: @user.UserName</h3>
            <h3>E-Mail: @user.Email</h3>
        </div>
        <a asp-controller="home" asp-action="delete" asp-route-id="@user.Id" class="btn btn-primary">Delete</a>
    </div>
    }
</div>